header {
  background-color: #2a2a2a;
  padding: 10px 130px 10px 40px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &:after {
    content: "";
    width: 100%;
    top: 35px;
    height: 1px;
    background-color: #f5bd1f;
    position: absolute;
    left: 0;
    z-index: 1;
  }
}

#logo_socials {
  position: relative;
  z-index: 100;
  img {
    width: 140px;
  }
}
.login {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -3px;
  a {
    color: #fff;
    display: flex;
    align-items: flex-start;
  }

  #language {
    margin-left: 20px;
    font-size: 14px;
    margin-right: 10px;
  }
}
nav {
  ul {
    display: flex;
    margin: 14px 0 0;

    li {
      &:not(:last-child) {
        margin-right: 25px;
      }
      a {
        color: #fff;
        font-size: 14px;
        position: relative;
        padding: 7px 7px;
        transition: all 0.2s;

        &:after {
          content: "";
          position: absolute;
          top: 25px;
          left: 50%;
          width: 0px;
          height: 2px;
          z-index: 2;
          background-color: #f5bd1f;
          transform: translateX(-50%);
          transition: all 0.2s;
        }
        &:hover {
          color: #f5bd1f;

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

.home-car_section {
  border-top: 3px solid $main-color;
  padding: 40px 10px 30px 10px;

  .col-12 {
    padding-left: 7px;
    padding-right: 7px;
  }
  .common_box_body {
    // padding: 0px 15px 10px;
  }
  .see_more_col {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;

    a {
      background-color: $main-color;
      color: $brand-color;
      font-size: 16px;
      padding: 10px;
      font-family: "Conv_bpg-arial-webfont";
      border-radius: 5px;
    }
  }
}

footer {
  border-top: 3px solid $main-color;
  background-color: $brand-color;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div:not(:last-child) {
    margin-right: 50px;
  }

  .footer_logo {
    img {
      width: 100px;
    }
  }

  .footer_nav {
    ul {
      li {
        a {
          color: #fff;
          font-size: 12px;
          font-family: "Conv_bpg-arial-webfont";

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .footer_contact {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 5px;
    }
    * {
      color: #fff;
      font-size: 12px;
    }
  }
}

.menu-btn {
  width: 35px;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 5px;
  right: 2px;
}

.menu-btn__burger {
  width: 30px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  left: 3px;
  top: 17px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.menu-btn__burger::after {
  top: 1px;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(22px, -43px);
  background: #f5bd1f;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-42deg) translate(34px, 32px);
  background: #f5bd1f;
}

// .menu-btn.open {
//   border: 3px solid #f5bd1f;
// }
