#home_main {
  width: 100%;
  height: calc(100vh - 90px);
  background-image: url("/imgs/covers-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 3% 5%;
}

.filters {
  max-width: 380px;
  width: 100%;
  form {
    background-color: $brand-color;
    border-radius: 10px;
    padding: 30px 30px;

    .top_search {
      display: flex;
      align-items: center;

      input {
        outline: none;
        background: #fbfbfa;
        padding: 8px;
        font-size: 14px;
        width: calc(100% - 55px);
        border-radius: 5px 0 0 5px;
        border: 1px solid $main-color;

        &::placeholder {
          font-size: 14px;
        }
      }

      button {
        border: none;
        background-color: $main-color;
        height: 39px;
        width: 80px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        outline: none;
        transition: all 0.2s;

        &:hover {
          background-color: #fab800;
        }

        img {
          height: 32px;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
.price_filter {
  div {
    display: flex;

    input:first-child {
      outline: none;
      padding: 8px;
      width: 50%;
      border-radius: 5px 0px 0px 5px;
      border: 1px solid #f5bd1f;
    }
    input:last-child {
      outline: none;
      padding: 8px;
      width: 50%;
      border-radius: 0px 5px 5px 0px;
      border: 1px solid #f5bd1f;
      border-left: unset;
      font-family: "Conv_bpg-arial-webfont";
    }
    input {
      color: #2a2a2a;
      height: 35px;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
        color: #2a2a2a;
        font-family: "Conv_bpg-arial-webfont";
      }
    }
  }
}
.filter_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  border-top: 1px solid $main-color;
  padding-top: 15px;

  & > div {
    flex: 0 0 47%;
    max-width: 47%;
    margin-bottom: 10px;
    label {
      width: 100%;
      color: $main-color;
      font-size: 14px;
    }

    select {
      width: 100%;
      background-color: #fff;
      border-radius: 5px;
      padding: 5px 8px;
      border: 1px solid $main-color;
      background-image: url("/imgs/menu.png");
      cursor: pointer;
      font-family: "Conv_bpg-arial-webfont";
      background-size: 14px;
      background-repeat: no-repeat;
      background-position: 95% 9px;
      background-color: #fbfbfa;
      font-size: 14px;
    }
  }
}

.filter_button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    background-color: #f5bd1f;
    color: #2a2a2a;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 9px 30px 6px;
    cursor: pointer;
    transition: all 0.4s;
    outline: none;

    &:hover {
      background-color: #ffbd01;
      transform: translateY(-3px);
    }
  }
}

.home_main_text {
  margin-left: 2%;
  margin-top: 2%;
  background-image: url("/imgs/cloud-03.png");
  background-size: contain;
  height: 250px;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 420px;
  width: 100%;
  padding: 40px 3px 12px 57px;
  h2 {
    font-size: 16px;
    color: #2a2a2a;
    span {
      display: inline-block;
      &:first-child {
        border-bottom: 2px solid $main-color;
      }

      &:last-child {
        max-width: 180px;
      }
    }
  }
}

#login {
  & ~ button {
    border: none;
    margin: 0 10px;
    background: #f5bd1f;
    color: #fff;
    font-size: 13px;
    padding: 2px 9px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  & > span {
    width: 22px;
    height: 22px;
    text-align: center;
    color: $brand-color;
    cursor: pointer;
    &.active {
      background-color: $main-color;
      color: #fff;
      border-radius: 50%;
    }
  }
  button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 10px;
    font-size: 22px;
  }
}

.common_car_footer {
  & > span {
    font-size: 12px;
    color: #2a2a2a;
  }
}

.cardContactInfo {
  div {
    text-transform: capitalize;
  }
}

.contact_info {
  span {
    text-transform: capitalize;
  }
}

.social_auth {
  a {
    cursor: pointer;
  }
}

.search_results_fluid .filters form {
  background-color: #fff0;
  border-radius: 9px;
  padding: 14px 0px 10px 20px;
}

.google_auth_social {
  display: none;
}

.filter_icon {
  background: #fff;
  border-bottom: 1px solid $main-color;
  width: 90%;
  margin: 20px auto 20px;
  text-align: right;
  padding-bottom: 10px;
  img {
    width: 20px;
    margin-left: 10px;
  }

  span {
    color: #2a2a2a;
    font-size: 14px;
  }
}
