#home_main {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: antiquewhite;
  background-image: url("/imgs/car.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
