@media only screen and (min-width: 992px) {
  .menu-btn {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .header_navigation {
    nav {
      display: none;
    }
  }

  header {
    padding: 10px 10px 10px 10px;
  }

  #home_main {
    display: block;
    height: auto;
    padding: 10px;
  }

  .filters form {
    padding: 15px 15px;
  }
  .filter_body > div label {
    font-size: 12px;
  }

  .home_main_text h2 {
    font-size: 25px;
    margin: 15px 0 5px;
  }
  footer {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
  }
  footer > div:not(:last-child) {
    margin-right: 0;
  }
  .footer_nav {
    margin: 10px 0 0;
  }
  .home-car_section {
    padding: 0px 10px 10px 10px;
  }
  .home-car_section .see_more_col {
    margin-top: 10px;
  }
  footer div {
    min-width: 140px;
  }
  #logo_socials img {
    width: 90px;
  }

  #language {
    display: none;
  }
  .login a {
    font-size: 14px;
  }
  .login {
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;
  }

  #login {
    svg {
      width: 15px;
    }
  }
  #login ~ button {
    margin: 12px 0px 0 0;
  }

  .home-car_section {
    .common_car_box {
      margin-bottom: 20px;
    }
  }
  .header_navigation nav {
    position: absolute;
    background: #2a2a2a;
    width: 100vw;
    top: 74px;
    left: 0;
    padding-bottom: 24px;
    z-index: 3333;
    padding-left: 16px;
    height: calc(100vh - 74px);
  }
  .header_navigation nav {
    ul {
      flex-direction: column;
      padding-left: 15px;
      padding-bottom: 20px;
    }
  }
  .header_navigation nav.active {
    display: block !important;
  }
}
